DEVICE={{ item.device }}
NAME={{ item.device }}
BONDING_MASTER=yes
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% elif item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot|default("yes") }}
{% endif %}
BONDING_OPTS="mode={{ item.bond_mode }} miimon={{ item.bond_miimon|default(100) }} lacp_rate={{ item.bond_lacp_rate|default(0) }} xmit_hash_policy={{ item.bond_xmit_hash_policy|default(0) }}"
